

.open-sans-normal{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}
/* header   */
.header{
    background-image: url(../images/developer.png), url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    margin: 0;

}
/* shared styles */
.bg-color{
    background-color: rgb(255, 248, 243);
}

.section-title{
    color: rgb(24, 24, 24);
    font-family: Open Sans;
    font-size: 35px;
    text-align: center;
    padding-bottom: 30px;
    }
.section-description{
    color: rgb(117, 117, 117);
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 400;
    padding-top: 20px;
    padding-bottom: 20px;
}
.content-center{
    text-align: center;
}
/* nav style */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}
.nav-title{
font-size: 45px;
font-weight: 800;
}
.font-style{
    color: rgb(253, 110, 10);
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-right: 50px;
}
nav li a{
    text-decoration: none;
    color: rgb(71, 71, 71);
}
.btn-primary{
    border-radius: 5px;
    background: rgb(253, 110, 10);
    padding: 15px 25px;
    font-size: 20px;
    color: white;
    border: none;
    text-decoration: none;

}

/* Banner Styles */
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 38px 0 200px;
.banner-content{
    max-width: 585px;
}
}
.banner-greating{
    color: rgb(71, 71, 71);
    font-family: Open Sans;
    font-size: 25px;
    font-weight: 600;
}
.banner-title{
    color: rgb(24, 24, 24);
    font-family: Open Sans;
    font-size: 50px;
    font-weight: 700;
}
.banner-description{
    color: rgb(117, 117, 117);
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 400;
}
.banner-profile-pic{
    max-width: 580px;
}

main{
    max-width: 1180px;
    margin: 0 auto;
}

/* about styles */
.about{
    text-align: center;
    padding: 130px 156px;
    margin: 135px;

}
.item-description{
    font-weight: 600;
}
.about-items{
    display: flex;
    justify-content: space-around;
}

/* skill styles */
.skills-container{
    display: flex;
    gap: 24px;
}
.skills-item{
    padding: 30px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 6px 50px 0 rgba(0, 0, 0, 0.06);
}

/* Resume section styles */
.resume{
    margin-top: 100px;
    margin-bottom: 100px;
}
.resume-container{
    display: flex;
    gap: 30px;
}
.resume-colum-title{
    color: rgb(71, 71, 71);
    font-family: Open Sans;
    font-size: 30px;
    font-weight: 700;
}
.exprience-title{
    color: rgb(71, 71, 71);
    font-family: Open Sans;
    font-size: 25px;
    font-weight: 700;
}
.exprience-sub-title{
    color: rgb(117, 117, 117);
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
}
hr{
    color: rgb(117, 117, 117);
}
.resume-button{
    text-align: center;
    margin-top: 20px;
}
/* Footer Styles */
.footer{
    background-color: rgb(255, 248, 243);
    display: flex;
    gap: 117px;
    padding: 198px 230px;
}
.footer-colum{
    width: 50%;
}
footer input[type="text"], footer textarea {
    height: 35px;
    display: block;
    border: none;
    border-radius: 5px;
    margin-right: 15px;
    margin-bottom: 10px;
    background-color: white;
    width: 100%;
}

/* Responsive */

.hide{
    display: none;
}

@media screen and (max-width:576px) {
    .skills-container, .resume-container, .footer, nav, .banner {
        flex-direction: column;
    }

    .footer{
        padding: 20px;
    }
    .footer-colum{
        width: 100%;
    }

    footer input[type="text"], footer textarea{
        width: calc(100% - 20px);
    }

    .about{
        text-align: center;
        padding: 20px;
        margin: 10px;
    }

    .about-items{
        flex-direction: column;
    }
    .nav{
        flex-direction: column;
    }
    .banner-profile-pic{
        max-width: 100%;
    }
    .banner{
        margin: 10px;
    }
    .header{
        background-image: none;
    }
}